.ProcessProducts{
	width:40%;
	display:inline-block;
	float:left;	
	padding:10px;
	box-sizing:border-box;	
	background: #ecf0f1;
}

.ProcessProducts-head div, .ProcessProducts-cart div{
	display:inline-block;
	text-align:center;
	font-weight:bold;
	
}


.ProcessProducts-head{
	padding:10px;

}

.ProcessProducts-cart{
	padding:20px;
	background:#fff;
	display: flex;
	justify-content: center;
	align-items: middle;
	flex-wrap: wrap;
}

.deleteProduct{
	width:30px;
	cursor: pointer;
	text-align:center;
}

.PP-Quant-box {
	border: 1px solid #ecf0f1;
    padding: 0px 10px;
    border-radius: 6px;
    font-size: 12px;
}

.quantity-btn{
	padding: 0px 10px;
    border-radius: 6px;	
    vertical-align: middle;
    text-align: center;
    margin:5px;
    background: #d9e7ea;
    cursor: pointer;
    color:#fff;

}

.wd--1{
	width:10%;
}

.wd--2{
	width:20%;
}

.wd--3{
	width:30%;
}

.wd--4{
	width:60%;
}

.wd--5{
	width:50%;
}